---
import { getImage, Picture } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE } from "@src/constants";
import { PHOTOS } from "@root/src/utils/flickr";
import type { Photo } from "@root/src/types/flickr";
import Pagination from "@components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  return paginate(PHOTOS, { pageSize: 30 });
}

const { page } = Astro.props;

const image = await getImage({
  src: page.data[0].url_4k || page.data[0].url_o,
  width: 1920,
  height: 1080,
});
---

<BaseLayout
  title={SITE_TITLE + " - Photos"}
  description={"A gallery of my photos."}
  breadcrumbs={[{ path: "/photos/1", name: "Photos" }]}
  image={image.src}
  mainClass="max-w-6xl">
  <div class="max-w-6xl w-full flex flex-wrap justify-center gap-2">
    {
      page.data.map((photo: Photo) => (
        <a
          href={"/photos/id/" + photo.id}
          class="max-h-[300px] overflow-hidden rounded-lg">
          <Picture
            transition:name={photo.id}
            src={photo.url_l}
            alt={photo.title}
            densities={[1, 1.5, 2]}
            formats={["avif", "webp"]}
            height={300}
            width={450}
            class="h-full rounded-lg object-cover object-center md:w-[450px]"
          />
        </a>
      ))
    }

    <div class="mt-4 w-screen flex flex-col items-center">
      <Pagination page={page} />
    </div>
  </div>
</BaseLayout>
