---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/constants";
import Tag from "@components/Tag.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = posts.reduce((acc, post) => {
    post.data.tags.forEach((tag) => {
      if (!acc.includes(tag)) {
        acc.push(tag);
      }
    });
    return acc;
  }, [] as string[]);

  return tags.map((tag) => ({ params: { tag: tag.toLowerCase() } }));
}

const { tag = "" } = Astro.params;

const posts = await getCollection("blog", (post) =>
  post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
);
---

<BaseLayout
  title={SITE_TITLE + " - Blog"}
  description={SITE_DESCRIPTION}
  mainClass="flex-1"
  breadcrumbs={[
    { path: "/blog", name: "Blog" },
    { path: Astro.url.pathname, name: "Tag" },
  ]}>
  <ul class="mb-5 flex flex-col gap-3">
    {
      posts.map((post) => (
        <li class="rounded-lg bg-zinc-50 p-5 dark:bg-zinc-800">
          <a
            class="text-2xl font-bold leading-8 tracking-tight"
            href={`/blog/${post.slug}/`}>
            <h4
              class="title"
              transition:name={post.data.title}>
              {post.data.title}
            </h4>
          </a>

          {post.data.tags.map((tag) => (
            <Tag tag={tag} />
          ))}

          <div class="mt-3 max-w-none text-zinc-500 dark:text-zinc-400">
            {post.data.description}
          </div>

          <div class="mt-3 text-base font-medium">
            <a
              href={`/blog/${post.slug}`}
              aria-label={`Read "${post.data.title}"`}>
              Read more &rarr;
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
