---
import { SITE_TITLE } from "@src/constants";
import { PHOTOS, getExif } from "@src/utils/flickr";
import BaseLayout from "@layouts/BaseLayout.astro";
import Exif from "@components/Exif.astro";
import { Image, getImage } from "astro:assets";
import type { Photo } from "@root/src/types/flickr";
import Flickr from "@icons/Flickr.astro";

export async function getStaticPaths() {
  const photos = PHOTOS;
  return photos.map((photo) => ({ params: { photo: photo.id } }));
}

const { photo = "" } = Astro.params;

const photoInfo = PHOTOS.find((p) => p.id === photo) as Photo;

const image = await getImage({
  src: photoInfo.url_4k || photoInfo.url_o,
  width: 1920,
  height: 1080,
});

const exifData = await getExif(photoInfo.id);
---

<BaseLayout
  title={SITE_TITLE + " - Photo - " + photoInfo.title}
  description={`${photoInfo.title} - taken on ${new Date(
    photoInfo.datetaken
  ).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  })}`}
  mainClass="flex-1 !max-w-5xl"
  image={image.src}
  breadcrumbs={[{ path: "/photos/1", name: "Photos" }]}>
  <div class="w-full flex justify-center">
    <Image
      transition:name={photoInfo.id}
      src={image.src}
      loading="eager"
      alt={photoInfo.title}
      width={1280}
      height={720}
      class={"rounded-lg " +
        (photoInfo.height_o >= photoInfo.width_o
          ? "max-h-[720px] w-auto object-contain"
          : "object-cover")}
    />
  </div>

  <div class="mt-4 flex items-center justify-between">
    <h1 class="text-3xl font-bold">
      {photoInfo.title}
    </h1>

    <a
      target="_blank"
      aria-label="View on Flickr"
      href={"https://flickr.com/photos/" +
        import.meta.env.FLICKR_USER_ID +
        "/" +
        photoInfo.id}
      ><Flickr /></a
    >
  </div>
  <p class="mb-2 text-zinc-600 dark:text-zinc-300">
    {
      new Date(photoInfo.datetaken).toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </p>

  {
    photoInfo.description._content && (
      <p class="mb-4 whitespace-pre-wrap">{photoInfo.description._content}</p>
    )
  }

  <Exif exifData={exifData} />
  {
    typeof photoInfo.longitude === "string" &&
      typeof photoInfo.latitude === "string" && (
        <div class="w-full flex justify-center">
          <a
            href={`https://www.openstreetmap.org/?mlat=${photoInfo.latitude}&mlon=${photoInfo.longitude}#map=14/${photoInfo.latitude}/${photoInfo.longitude}`}
            target="_blank">
            <Image
              src={`https://api.mapbox.com/styles/v1/mapbox/outdoors-v12/static/pin-l-attraction+ff4f4f(${
                photoInfo.longitude
              },${photoInfo.latitude})/${photoInfo.longitude},${
                photoInfo.latitude
              },12/500x500@2x?access_token=${import.meta.env.MAPBOX_TOKEN}`}
              alt="Location"
              width={1000}
              quality={50}
              height={1000}
              class="mt-5 max-h-[500px] w-auto rounded-lg"
            />
          </a>
        </div>
      )
  }
</BaseLayout>
