---
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"projects">["data"];
import { Image } from "astro:assets";

const formatProjectDate = (date: Date) => {
  const month = date.toLocaleString("default", { month: "long" });
  const year = date.getFullYear();
  return `${month} ${year}`;
};

const { title, description, subtitle, start, end, heroImage, href, at } =
  Astro.props;
---

<div class="t w-[21rem]">
  <div
    class={`${
      heroImage && "h-full"
    }  overflow-hidden rounded-md border-2 border-zinc-200 border-opacity-60 dark:border-zinc-800`}>
    {
      href ? (
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Link to ${title}`}>
          <Image
            alt={title}
            src={heroImage}
            loading="lazy"
            class="aspect-video w-full object-cover object-center"
          />
        </a>
      ) : (
        <Image
          alt={title}
          src={heroImage}
          width={500}
          loading="lazy"
          class="aspect-video w-full object-cover object-center"
        />
      )
    }
    <div class="p-6">
      <h2 class="mb-3 text-2xl font-bold leading-8 tracking-tight">
        {title}
        {
          at && (
            <span class="ml-2 text-sm text-zinc-500 dark:text-zinc-300">
              @ {at}
            </span>
          )
        }
      </h2>

      {
        start && end ? (
          <p class="flex items-center gap-2 text-sm text-zinc-500 dark:text-zinc-300">
            {formatProjectDate(start)} - {formatProjectDate(end)}
          </p>
        ) : (
          <p class="flex items-center gap-2 text-sm text-zinc-500 dark:text-zinc-300">
            {formatProjectDate(start)} - Present
          </p>
        )
      }

      <p class="mb-3 mt-3 font-semibold text-zinc-900 dark:text-zinc-100">
        {subtitle}
      </p>
      <p class="mb-3 max-w-none text-zinc-500 dark:text-zinc-300">
        {description}
      </p>
      {
        href && (
          <p class="mt-4">
            <a
              href={href}
              target="_blank"
              rel="noopener noreferrer"
              class="text-primary-500 text-base font-medium leading-6"
              aria-label={`Link to ${title}`}>
              Learn more &rarr;
            </a>
          </p>
        )
      }
    </div>
  </div>
</div>
